In [12]:
import json

fd=open("record.json",'r')
r=fd.read()
fd.close()

record=json.loads(r)

record

{'1001': {'Mfg.date': '5-20',
  'company_name': 'britania',
  'name': 'Choco Cake',
  'pr': 100,
  'qn': 34},
 '1002': {'Mfg.date': '1-21',
  'company_name': 'Amul',
  'name': 'Milk Cake',
  'pr': 800,
  'qn': 100},
 '1003': {'Mfg.date': '8-20',
  'company_name': 'Kingfisher',
  'name': 'Drink',
  'pr': 85,
  'qn': 100},
 '1004': {'Mfg.date': '9-20',
  'company_name': 'Sweety',
  'name': 'Candy',
  'pr': 5,
  'qn': 1000},
 '1005': {'Mfg.date': '8-21',
  'company_name': 'BallPen',
  'name': 'Pen',
  'pr': 20,
  'qn': 100},
 '1006': {'Mfg.date': '2-21',
  'company_name': 'Oppo',
  'name': 'Phone',
  'pr': 50000,
  'qn': 10},
 '1007': {'Mfg.date': '3-21',
  'company_name': 'Voice',
  'name': 'Mic',
  'pr': 1500,
  'qn': 2},
 '1008': {'Mfg.date': '7-20',
  'company_name': 'IndiaCase',
  'name': 'Case',
  'pr': 599,
  'qn': 5},
 '1009': {'Mfg.date': '5-20',
  'company_name': 'Lenovo',
  'name': 'Keyboard',
  'pr': 1999,
  'qn': 15},
 '1010': {'Mfg.date': '9-20',
  'company_name': 'Apple',
  'name': 'Mouse',
  'pr': 540,
  'qn': 20},
 '1011': {'Mfg.date': '10-20',
  'company_name': 'India Suno',
  'name': 'Speaker',
  'pr': 760,
  'qn': 5},
 '1012': {'Mfg.date': '12-20',
  'company_name': 'D Link',
  'name': 'PenDrive',
  'pr': 190,
  'qn': 50},
 '1013': {'Mfg.date': '1-21',
  'company_name': 'Tata',
  'name': 'LED',
  'pr': 7000,
  'qn': 50},
 '1014': {'Mfg.date': '4-20',
  'company_name': 'Bamboo',
  'name': 'Wooden spoon',
  'pr': 50,
  'qn': 25},
 '1015': {'Mfg.date': '3-20',
  'company_name': 'FastBlender',
  'name': 'Blender',
  'pr': 20,
  'qn': 7},
 '1016': {'Mfg.date': '1-21',
  'company_name': 'Cutter',
  'name': 'Knife',
  'pr': 70,
  'qn': 30},
 '1017': {'Mfg.date': '1-21',
  'company_name': 'Fast Cooker',
  'name': 'Frying pan',
  'pr': 300,
  'qn': 4},
 '1018': {'Mfg.date': '2-20',
  'company_name': 'OEM',
  'name': 'Measuring Cup',
  'pr': 20,
  'qn': 15},
 '1019': {'Mfg.date': '1-21',
  'company_name': 'Plato',
  'name': 'Oven Glove',
  'pr': 25,
  'qn': 80},
 '1020': {'Mfg.date': '1-21',
  'company_name': 'Plato',
  'name': 'Mixing Bowl',
  'pr': 35,
  'qn': 27},
 '1021': {'Mfg.date': '9-20',
  'company_name': 'Cotton candy',
  'name': 'T-shirt',
  'pr': 350,
  'qn': 38},
 '1022': {'Mfg.date': '1-21',
  'company_name': 'Mastani',
  'name': 'Sweater',
  'pr': 790,
  'qn': 20},
 '1023': {'Mfg.date': '8-20',
  'company_name': 'Tiger',
  'name': 'Coat',
  'pr': 550,
  'qn': 32},
 '1024': {'Mfg.date': '1-21',
  'company_name': 'Essa',
  'name': 'Jacket',
  'pr': 990,
  'qn': 10},
 '1025': {'Mfg.date': '1-21',
  'company_name': 'Plazoo',
  'name': 'Shorts',
  'pr': 765,
  'qn': 35},
 '1026': {'Mfg.date': '9-20',
  'company_name': 'Plazoo',
  'name': 'Socks',
  'pr': 70,
  'qn': 80},
 '1027': {'Mfg.date': '1-21',
  'company_name': 'Nike',
  'name': 'Shoe',
  'pr': 950,
  'qn': 28},
 '1028': {'Mfg.date': '1-21',
  'company_name': 'Nike',
  'name': 'tracksult',
  'pr': 350,
  'qn': 15},
 '1029': {'Mfg.date': '5-20',
  'company_name': 'Tata',
  'name': 'Motor',
  'pr': 1500,
  'qn': 56},
 '1030': {'Mfg.date': '1-21',
  'company_name': 'Tata',
  'name': 'Holder',
  'pr': 230,
  'qn': 12},
 '1031': {'Mfg.date': '1-21',
  'company_name': 'Ponds',
  'name': 'Powder',
  'pr': 340,
  'qn': 25},
 '1032': {'Mfg.date': '11-20',
  'company_name': 'BMW Drum',
  'name': 'Drum',
  'pr': 1100,
  'qn': 5},
 '1033': {'Mfg.date': '7-21',
  'company_name': 'Classmates',
  'name': 'Notebook',
  'pr': 50,
  'qn': 12},
 '1034': {'Mfg.date': '2-21',
  'company_name': 'Nirma',
  'name': 'Washing Powder',
  'pr': 50,
  'qn': 25},
 '1035': {'Mfg.date': '1-20',
  'company_name': 'Usha',
  'name': 'fan',
  'pr': 2500,
  'qn': 5}}

In [4]:
no=int(input("How many numbers of new products want to add in inventory management system\n"))

for i in range(1,no+1):
  prod_id=str(input("Enter product id : "))
  name=str(input("Enter a name : "))
  pr=int(input("Enter a price : "))
  qn=int(input("Enter a quantity : "))
  com_name=str(input("Enter a company name : "))
  mfg_date=str(input("Enter a manufacturing date : ")) 


  record[prod_id]={'name': name, 'pr': pr,'qn': qn, 'Mfg.date': mfg_date, 'company_name': com_name}
  print("New Product is added in inventory\n")

How many numbers of new products want to add in inventory management system
2
Enter product id : 1034
Enter a name : Washing Powder
Enter a price : 50
Enter a quantity : 25
Enter a company name : Nirma
Enter a manufacturing date : 2-21
New Product is added in inventory

Enter product id : 1035
Enter a name : fan
Enter a price : 2500
Enter a quantity : 5
Enter a company name : Usha
Enter a manufacturing date : 1-20
New Product is added in inventory

In [5]:
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)

fd.close()

print("Successfully Updated inventory managment system")

Successfully Updated inventory managment system

In [11]:
no = int(input("Enter number of products for purchasing more quantity : "))

for j in range(1,no+1):
   ui_prod=str(input("Enter a product id : "))
   ui_quant=int(input("Enter a quantity you want to purachse : "))

   print("product: ",record[ui_prod]['name'])
   print("price :",record[ui_prod]['pr'])

   record[ui_prod]['qn']=record[ui_prod]['qn'] + ui_quant
   print("Quantity Number Successfully updated in inventory managment system")

Enter number of products for purchasing more quantity : 2
Enter a product id : 1015
Enter a quantity you want to purachse : 5
product:  Blender
price : 20
Quantity Number Successfully updated in inventory managment system
Enter a product id : 1030
Enter a quantity you want to purachse : 10
product:  Holder
price : 230
Quantity Number Successfully updated in inventory managment system

In [13]:
js=json.dumps(record)

fd=open("record.json",'w')
fd.write(js)
fd.close()